*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Background*/

body, html{
    font-family: arial;
    height: 100%;
    overflow:hidden;

}

.background{
    background-image: url(img/background3.jpg);  
    height: 100%;
    max-height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -5;
}

/*Header*/

header{
    position: relative;
    margin: 0;
    height: 10vh;
    width: 100%;
    background-color: #000;
    
}

.site-title{
    display: inline;
    position: relative;
    color: #fff;
    height: 10vh;
    line-height: 10vh;
    white-space: nowrap;
    margin-left: 2%
}

.main-navigation{
    position: absolute;
    height: 10vh;
    width: 100%;
    background-color: #000;
}

.main-navigation ul{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1%;
}

.main-navigation li{
    display: flex;
    margin: auto 20px;
}

.main-navigation a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px;
}

#join {
    border: 2px solid green;
    border-radius: 3px;
}

.news {
    margin: 50px auto;
    padding: 15px;
    width: 900px;
    height: auto;
    background-color: #fff;
    border: 3px solid green;
    opacity: 0.8;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5em;
}

.button {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 8px;
    background-color: #fff;
    text-align: center;
    opacity: 0.8;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    border: 3px solid green;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000; 
}

.button:hover{
    transition: background-color 0.3s ease;
        background-color: #6cc644;
}

/*About us*/

.about {
    margin: 50px auto;
    padding: 15px;
    width: 900px;
    height: auto;
    background-color: #fff;
    border: 3px solid green;
    opacity: 0.8;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5em;
}
.about h1, p {
	text-align: center;
	overflow: wrap;
}

.about a {
	text-decoration: none;
	transition: 0.7s;
}

.about a:hover {
	color: #1C11ED;
	transform: scale(2.3);
}

/* Groups */

.main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
}

.group {
    margin: 50px 2% 10px 2%;
    padding: 15px;
    width: 900px;
    height: auto;
    transition: background-color 0.3s ease;
    background-color: #fff;
    border: 3px solid green;
    opacity: 0.8;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5em;
    width: 240px;
    height: 220px;
}

 .group:hover {
    background-color: #6cc644;
    cursor: pointer;
}

.group h3 {
    text-align: center;
    margin-bottom: 5px;
}

.group p {
    margin: auto 1%;
    font-size: 15px;
}

/* Join us */

.content{
    margin: 50px auto;
    padding: 15px;
    width: 900px;
    height: auto;
    background-color: #fff;
    border: 3px solid green;
    opacity: 0.8;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5em;
    display:flex;
    justify-content:center;
    align-items:center;
}

.fb{
    float: left;
    padding: 10px;
    color: #000;
}
.slack{
    float: left;
    padding: 10px;
    color: #000;
    
}
.git{
    float: left;
    padding: 10px;
    color: #000;
}

.fb:hover{
    color: #3B5998;
}

.git:hover{
    color: #6cc644;
}

.slack:hover{
    color: #ecb32d;
}